{% extends 'base.html' %}
{% load static %}
{% block content %}
<header>
    <div class="container">
      <div class="-container">
        <div style="color: rgb(255, 255, 255);" class="intro-text">
          <div style="background-color: rgba(255, 255, 255, 0.2); border-radius: 10px; padding: 60px; font-weight: 700;">
            <div class="intro-lead-in">Welcome {{ name }} !</div>
            <div class="section-title" style="font-size: 24px;">Thank you for subscribing to our website! We appreciate your support and look forward to keeping you updated with valuable information and resources.</div>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}
